
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']">Recepe Book</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <!-- routerLinkActive bootstrapova klasa da daje higlight kada je komponenta oznacana-->
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recepies <span class="sr-only">(current)</span></a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shopping-list']" >Shopping List</a></li>


        <!-- Dodajemo routerLink da bi linkali sa approutes -->
        <!-- [routerLink]="['/recipes']"   [routerLink]="['/shopping-list']"-->
      
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
      <!--   SA rbDropdown definisemo direktivu -->
        <li class="dropdown" rbDropdown>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">LogIn</a></li>
            <li><a href="#">Other</a></li>
           
            <li role="separator" class="divider"></li>
            <li><a href="#">LogOut</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Recepe Book</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Recepies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
   

   




     <li class="nav-item dropdown" rbDropdown>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
         User </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Other</a>
          <div class="dropdown-divider"></div> 
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
   
  </div>
</nav>
-->